body {
	width: 100%;
	height: 100%;
}

.container {
	border: 1px solid;
	width: 442px;
	height: 80px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.number {
	width: 35px;
	height: 35px;
	border: 1px solid;
	display: inline-block;
	text-align: center;
	line-height: 200%;
	position: absolute;
}